@font-face {
  font-family: 'Shockwave';
  src: url('../assets/fonts/Shockwave.ttf') format('truetype'); /* Adjust the path based on your folder structure */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url('../assets/fonts/Gilroy-Black.ttf') format('truetype'); /* Adjust the path based on your folder structure */
  font-weight: normal;
  font-style: normal;
}

.app-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  line-height: 0.8;
  padding-left: 240px;
  padding-right: 240px;
  }
  .header-name {
    display: flex;
    justify-content: center;
    font-family: 'Shockwave', Courier New, monospace;

   color: #fff;
   font-size: 29px;
  
   font-weight: 120;
  }
  .header-name h1 {
    display: flex;
    justify-content: center;
    font-family: 'Shockwave', Courier New, monospace;

   color: #fff;
   font-size: 29px;
  
   font-weight: 120;
  }
  .header-nav{
    display: flex;
   flex-direction: row;
    justify-content: space-between;
  
  }
  .nav-img{
    display: flex;
    align-items: center;
    
  }
  .header-nav p{
    font-weight: 400px;
    font-size: 23px;
    line-height: 22px;
    padding-left: 10px;
    font-family: 'Gilroy-Black',sans-serif;
    
  }
  @media (max-width:1152px) {
    .header-nav p{
      font-weight: 400px;
      font-size: 18px;
      line-height: 22px;
      padding-left: 10px;
      
    }
  }
  @media(max-width:1028px){
    .header-nav p{
      font-weight: 400px;
      font-size: 16px;
      line-height: 22px;
      padding-left: 10px;
      
    }
  }
  @media(max-width: 912px){
    
    .header-nav p{
      font-weight: 200px;
      font-size: 6px;
      line-height: 5px;
    
      
      text-align: center;
      
    }
  }
  @media(max-width: 658px){
   
    .header-nav p{
      font-weight: 200px;
      font-size: 6px;
      line-height: 5px;
    
      padding-left: 10px;
      text-align: center;
      
    }
  }
  @media (max-width:750px){
    .app-header{
      padding-left: 200px;
      padding-right: 200px;
    }
  }
  @media (max-width:650px){
    .app-header{
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  @media (max-width: 600px) {
    .header-nav p {
      font-size: 6px; /* Maintain the original size */
      line-height: 22px; /* Maintain original line height */
      
     
    }
  }
  @media (max-width: 550px) {
    .app-header{
      padding-left: 110px;
      padding-right: 110px;
    }
  }
  @media (max-width:450px) {
    .app-header{
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  @media (max-width:400px) {
    .app-header{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media (max-width:350px) {
    .app-header{
      padding-left: 20px;
      padding-right: 20px;
    }
  }