@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../assets/fonts/Gilroy-Bold.ttf') format('truetype'); /* Adjust the path based on your folder structure */
    font-weight: normal;
    font-style: normal;
  }
  .qoute-whole {
    width: 100%;
    display:  flex;
    flex-direction: column;
    align-items: center;
    padding-left:  30px;
    padding-right: 30px;
  }
  .qoute-content { 
    width:  100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .qoute-img {
    width: 48%;
    position: relative;
  }
  .flower-img {
    width: 100%;
    object-fit: contain;
  }
  .arrow-img {
    position: absolute;
    top: -10px;
    right: -100px
  }
  .arrow-img img  {
    width: 200px;
  }
  .qoute {
    width: 48%;
  }
  .qoute p { 
    font-family: 'Gilroy-Bold';
    font-size: 56px;
  }

  @media (max-width : 800px)  {
    .qoute-img {
        width: 44%;
    }
   .qoute p {
    font-size: 30px;
   }
   .arrow-img {
    right: -32px;
   }
   .arrow-img img {
    width: 105px;
   }
  }  
  @media (max-width : 800px) {
    .qoute-content {
        flex-direction: column;
        align-items: center;
    }
    .qoute-img {
        margin-top: 20px;
        width: 80%;
    }
    .qoute { 
        width: 100%;
    }
    .qoute p {
        text-align: center;
    }
  }