@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../assets/fonts/Gilroy-Bold.ttf') format('truetype'); /* Adjust the path based on your folder structure */
    font-weight: normal;
    font-style: normal;
  }
  .qoute-content{
    display: flex;
    flex-direction: row;
    color: #fff;
    
}
.qoute-img{
    
height: auto;

width:  48%;
object-fit: contain;
}
.qoute-img img{
    width: auto;
}
.arrow-img{
    width: 15%;
    
    height: 251px;
}

.flower-img{
    
    display: flex;
    justify-content: center;
   
}
.qoute-whole{
    padding: 130px;
}
.qoute-content{
    display: flex;
  
    justify-content: center;
    
    
    
}
.qoute{
padding-top: 130px;
padding-left: 60px;
padding-right: 130px;
padding-bottom: 130px;
 
 width: 725px;
 height: 236px;
line-height: 78.4px;
letter-spacing: -1.68px;
}
.qoute p{
    font-family: 'Gilroy-Bold',sans-serif;
}
.mouse{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  (max-width: 1928px) {
    .qoute-content{
        font-size: 56px;
    }
  
  }
  @media (max-width:1889px){
    .qoute-content p{
        font-size: 52px;
    }
   
  }

  @media (max-width:1825px){
    .qoute-content p{
        font-size: 46px;
    }
    .qoute{
        padding-top: 130px;
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 130px;
         
         width: 725px;
         height: 236px;
        line-height: 78.4px;
        letter-spacing: -1.68px;
        }
  }
  @media(max-width:1686px){
       .qoute-content p{
        font-size: 30px;
    }
    .qoute{
        padding-top: 130px;
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 130px;
         
         width: 725px;
         height: 236px;
        line-height: 58.4px;
        letter-spacing: -1.68px;
        }
        .qoute-img img{
            width: 500px;
        }
        .arrow-img img{
        
        }
  }
  @media (max-width:1410px){
    .qoute-content p{
        font-size: 30px;
        line-height: 48.4px;
        letter-spacing: -1.68px;
    }
    .qoute{
        padding-top: 130px;
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 130px;
         
         width: 725px;
         height: 236px;
        
        }
        .qoute-img img{
            width: 450px;
        }
  }
  @media (max-width:1300px){
    .qoute-content p{
        font-size: 30px;
        line-height: 48.4px;
        letter-spacing: -1.68px;
    }
    .qoute{
        padding-top: 130px;
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 130px;
         
         width: 725px;
         height: 236px;
        
        }
        .qoute-img img{
            width: 430px;
        }
        .arrow-img img{
        width: 240px;
        }
  }
  @media (max-width:1055px){
   
    .qoute{
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
         
         width: 725px;
         height: 236px;
        
        }
        .qoute-img img{
            width: 430px;
        }
        .arrow-img img{
        width: 240px;
        }
  }
 